/* Default styles for the website */

:root {
  --background-color: rgb(15, 15, 15);
  --accent-color: rgb(45, 45, 45);
  --primary-text-color: rgb(255, 255, 255);
  --portfolio-cell-text-color: rgb(0, 0, 0);
  --row-odd: rgb(225, 225, 225);
  --row-even: rgb(255, 255, 255);
  --row-hover: rgb(175, 175, 175);
  --positive: rgb(24, 134, 24);
  --negative: rgb(255, 79, 79);
  --portfolio-option-active: rgb(40, 40, 40);
  --tooltip-background: rgb(55, 55, 55);
}

body {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  user-select: none;
}

body, h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.js-positive-number {
  color: var(--positive) !important;
}

.js-negative-number {
  color: var(--negative) !important;
}

.capitalize {
  text-transform: uppercase;
}

.icon-color {
  background-color: var(--accent-color);
}