.popup-section {
  position: fixed;
  inset: 0;
  z-index: 15;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-window {
  width: 95vw;
  min-width: 19rem;
  max-width: 30rem;
  border-radius: 1rem;
  overflow: hidden;
}

.popup-header {
  text-align: center;
  background-color: var(--accent-color);
  padding: 0.5rem;
}

.popup-body {
  background-color: var(--primary-text-color);
  color: var(--secondary-text-color);
  padding: 1.5rem;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.api-key-instruction {
  text-align: justify;
}