.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  cursor: pointer;
}

.portfolio-table th {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.portfolio-table th,
.portfolio-table td {
  padding: 0.5rem;
  white-space: nowrap;
}

.portfolio-table th:first-child,
.portfolio-table td:first-child {
  padding-left: 1rem;
  position: sticky;
  left: 0;
  font-weight: 600;
}

.portfolio-table td:first-child {
  background-color: inherit;
}

/* Alternate the background color of every row to visualize the row better */
.portfolio-table tr:nth-child(odd) {
  background-color: var(--row-odd);
}

.portfolio-table tr:nth-child(even) {
  background-color: var(--row-even);
}

.portfolio-table td {
  color: var(--portfolio-cell-text-color);
  padding: 0.75rem 0.5rem;
}

.portfolio-table tr {
  transition: background-color 0.2s ease;
}

.portfolio-table tr:hover {
  background-color: var(--row-hover);
}

.pct-of-portfolio,
.asset-type {
  text-align: center;
}

.current-value,
.total-cost,
.shares,
.average-price,
.last-price,
.profit-loss,
.profit-loss-pct {
  text-align: right;
}

.cash-row {
  font-weight: 600;
}

.remove-icon-container {
  position: relative;
  width: 1.5rem;
  margin: 0 0.75rem;
}

.remove-icon {
  width: 100%;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.remove-icon:hover {
  filter: brightness(75%);
}

.remove-icon:active {
  filter: brightness(50%);
}

.tooltip {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  left: -9.5rem;
  top: -3.2rem;
  transition: opacity 0.2s ease;
  background-color: var(--tooltip-background);
  color: var(--primary-text-color);
  padding: 1rem 1.5rem;
  z-index: 100;
  border-radius: 1.2rem 1.2rem 0 1.2rem;
  pointer-events: none;
}

.remove-icon-container:hover .tooltip {
  opacity: 1;
}

.js-arrow-up::after {
  content: " ▲";
}

.js-arrow-down::after {
  content: " ▼";
}