.portfolio-table {
  width: 100%;
  border-collapse: collapse;
}

.portfolio-table th {
  color: rgb(255, 255, 255);
  background-color: var(--accent-color);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.portfolio-table th,
.portfolio-table td {
  padding: 0.5rem;
  white-space: nowrap;
}

.portfolio-table th:first-child,
.portfolio-table td:first-child {
  padding: 0.5rem;
  position: sticky;
  left: 0;
  font-weight: 600;
}

.portfolio-table td:first-child {
  background-color: inherit;
}

/* Alternate the background color of every row to visualize the row better */
.portfolio-table tr:nth-child(odd) {
  background-color: var(--cell-odd);
}

.portfolio-table tr:nth-child(even) {
  background-color: var(--cell-even);
}

.portfolio-table td {
  color: var(--portfolio-cell-text-color);
}

.pct-of-portfolio,
.asset-type {
  text-align: center;
}

.current-value,
.total-cost,
.shares,
.average-price,
.last-price,
.profit-loss,
.profit-loss-pct {
  text-align: right;
}

.cash-row {
  font-weight: 600;
}

.remove-icon {
  width: 1.5rem;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.remove-icon:hover {
  filter: brightness(75%);
}

.remove-icon:active {
  filter: brightness(50%);
}